.lt-minor {
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 5;
}

.lt-major {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 5;
    cursor: pointer;
}

.lt-predictions-container {
	position: relative;
	display: grid;
	grid-gap: 0.2rem;
	text-align: center;
	grid-template-columns: 1fr;
	width: 100%;
	max-width: 24rem;
	padding: 1rem;
	background: hsla(0, 0%, 100%, 0.25);
	z-index: 1;
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);
	border-radius: 0.5rem;
	border: 1px solid hsla(0, 0%, 100%, 0.25);
	opacity: 1;
}

.lt-buttoncontainer {
    margin: 5px 5px 5px;
}

.lt-title {
    display: block;
    text-decoration: underline;
}

.lt-message {
    display: block;
}