name: Release Obsidian Plugin
on:
  push:
    tags:
    - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'yarn'
    - name: Get Version
      id: version
      run: |
        echo "tag=$(git describe --abbrev=0)" >> $GITHUB_OUTPUT
    - name: Build
      id: build
      run: |
        yarn install --frozen-lockfile
        yarn run build
    - name: Package
      run: |
        mkdir ${{ github.event.repository.name }}
        cp main.js manifest.json styles.css README.md ${{ github.event.repository.name }}
        zip -r ${{ github.event.repository.name }}.zip ${{ github.event.repository.name }}
    # Create the release and upload assets
    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        draft: false
        prerelease: false
        files: |
          ${{ github.event.repository.name }}-${{ steps.version.outputs.tag }}.zip
          main.js
          manifest.json
          styles.css
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}